<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
  Email: &nbsp&nbspcrollins321@hotmail.com
  <br>
  Phone:  (903) 239-2175
  <br>
  GitHub: <a href="https://github.com/CalebRollins">https://github.com/CalebRollins</a>
  <br>
</p>