<% provide(:title, "Help") %>
<h1>Help</h1>
<p>
  Go to the <%= link_to "users page", users_path %> to find users to follow. 
  <br>
  Once you follow a user, their microposts will appears on your <%= link_to "home page", root_path %>, where you can also create your own microposts.
</p>